@charset    "UTF-8";

:root{
    --main-color: #b40000;
    --white: #FEFEFE;
    --accent-color: #FBC02D;
    --dark-main-color: #000000;
}

body{
    font-family: "HiraMinProN-W3", 'HiraMinProN-W6',Helvetica, Arial, serif;
    color: var(--white);
    margin: 0;
    height: 100vh;
    min-height: 500px;
    background-color: var(--main-color);
    background-position: bottom;
    background-size: cover;
}
.fade_group div, .fade_group2 div{
    content:'';
    position: fixed;
    top:0;
    left: -100vw;
    width: 100vw;
    height: 100%;
    pointer-events: none;
}
.fade_group div{
    z-index:9998;
    transition: 1.5s;
}
.fade_group2 div {
    z-index: 9997;
    transition: 3s;
}
.fade_group div:nth-last-of-type(1){
    background:var(--white);
}
.fade_group div:nth-last-of-type(2){
    background:var(--main-color);
    opacity: 0.8;
    transition-delay: 0.3s;
}
.fade_group div:nth-last-of-type(3){
    background:var(--dark-main-color);
    transition-delay: 0.8s;
}
.fade_group2 div:nth-last-of-type(1){
    background:var(--main-color);
    opacity:0.9;
    transition-delay: 0.9s;
}
.fade_group2 div:nth-last-of-type(2){
    background:var(--white);
    opacity:0.5;
    transition-delay: 1.4s;
}
body.fo .fade_group div{
    left:0;
}
body.fo .fade_group2 div{
    left:100vw;
}

.body_home_bg1{
    background-image: url(../img/opning/bg/bg1.png);
}
.body_home_bg2{
    background-image: url(../img/opning/bg/bg2.png);
}
.body_home_bg3{
    background-image: url(../img/opning/bg/bg3.png);
}
.body_home_bg4{
    background-image: url(../img/opning/bg/bg4.png);
}
.body_home_bg5{
    background-image: url(../img/opning/bg/bg5.png);
}

.conA {
    text-align:  center;
}

.conA img{
    margin-top: 20vw;
    width: 20%;
}
.conA h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 7vw;
    letter-spacing: 0.1em;
}

.conA p{
    margin-top: 0;
    margin-bottom:0;
    font-size: 4vw;
    letter-spacing: 0.5em;
}

.conB {
    text-align: center;
    margin-left: 5%;
}
.conB img{
    
    margin-top: 5%;
    width: 40%;

}
.conB img:hover{
    margin-top: 3%;
}
.conB button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.secB .policy{
    padding: 0 5% 5% 5%;
}
.secB .policy img{
    width: 50px;
    height: 51px;
}


.secB .policy h4{
    padding-bottom: 8px;
    font-size: 18px;
}
.secB .policy h5{
    font-size: 12px;
}
.css-fadein-delay{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}
.css-fadein-delay2{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
@keyframes fadein{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@media (min-width: 768px){
    .conA img{
        width: 10%;
        margin-top: 10vw;
    }
    
    .conA h1{
        margin-top: 1%;
        font-size: 3vw;
    }
    
    .conA p{
        font-size: 2vw;
    }

    .conB img{
        width: 25%;
        height: 10%;
    }
}