@charset    "UTF-8";

:root{
    --main-color: #b40000;
    --white: #FEFEFE;
    --accent-color: #FBC02D;
    --dark-main-color: #000000;
    --large-width: 1200px;
}
html{
    font-size: 20px;
}
h1,h2,h3,h4,h5,h6,p,a,img,ul,section{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: Helvetica, Arial, serif;
    color: var(--dark-main-color);
    margin: 0;
    background-color: var(--white);
    background-position: center;
    background-size: cover;
}
header{
    color:var(--white);
}
/* CSS Opning Animation */
.fade_group div{
    content:'';
    position: fixed;
    top:0;
    width: 0%;
    left:50%;
    height: 100%;
    pointer-events: none;
}
.fade_group2 div{
    content:'';
    position: fixed;
    top:0;
    width: 0%;
    right:50%;
    height: 100%;
    pointer-events: none;
}
.fade_group3 div{
    content:'';
    position: fixed;
    top:0;
    right:-100%;
    height: 100%;
    pointer-events: none;
}
.fade_group div{
    z-index:9999;
    transition: 1s ease-out;
}
.fade_group2 div {
    z-index: 9998;
    transition: 1.5s ease-out;
}
.fade_group3 div{
    z-index: 9997;
    transition:1s linear 2s;
}
.fade_group div:nth-last-of-type(1){
    background:var(--dark-main-color);
    transform: rotate(-90deg);
}
.fade_group div:nth-last-of-type(2){
    background:var(--main-color);
    transition-delay: 0.3s;
    transform: rotate(-80deg);
}
.fade_group div:nth-last-of-type(3){
    background:var(--white);
    transition-delay: 0.6s;
    transform: rotate(-60deg);
}
.fade_group2 div:nth-last-of-type(1){
    background:var(--main-color);
    transition-delay: 0.45s;
    transform: rotate(10deg);
}
.fade_group2 div:nth-last-of-type(2){
    background:var(--dark-main-color);
    transition-delay: 0.8s;
    transform: rotate(0deg);
}
.fade_group3 div:nth-last-of-type(1){
    background-color: var(--white);
    opacity: 0.5;
    transition-delay: 0.3s;
}
.fade_group3 div:nth-last-of-type(2){
    background-color:var(--main-color);
}
body.fo .fade_group div{
    transform: rotate(180deg);
    width: 500%;
    height: 500%;
    left: -50%;
    
}
body.fo .fade_group2 div{
    transform: rotate(-180deg);
    width: 500%;
    height: 500%;
    right: -50%;
}
body.fo .fade_group3 div{
    right: 0;
}

/*==========================*/
.nextpage{
    font-size: 0.4rem;
    margin: 10% 5% 2% 5%; 
    padding: 0 4% 0 4%;
    display: flex;
    border: solid 1px var(--main-color);
}
.nextpage h5{
    font-size: 0.3rem;
}
.nextpage .pre{
    border-right: solid 1px var(--main-color);
    text-align: left;
    flex:1;
    display: flex;
}
.nextpage .next{
    text-align: right;
    flex:1;
    
}
.nextpage a{
    display:flex;
    color:inherit;
    text-decoration: none;
}
.pre .nextpage-left{
    flex:1;
    margin: 5px 5px 0 0;
    font-size:1.2rem
}
.pre .nextpage-right{
    flex:5;
}
.next .nextpage-left{
    flex:5;
}
.next .nextpage-right{
    flex:1;
    margin: 5px 0 0 5px;
    font-size:1.2rem
}
.red{
    color:var(--main-color);
}
.secTop{
    margin: 0;
    display: block;
    height: 200px;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.secPage{
    color: var(--white);
    display: block;
    height: 150px;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.bg1{
    background-image: url(../img/portfolio/header_image/paint.png);
}
.bg2{
    background-image: url(../img/portfolio/header_image/research.png);
}
.bg3{
    background-image: url(../img/portfolio/header_image/dumbel.png);
}
.conA{
    padding-top: 30px;
    font-family: "HiraMinProN-W3";
    color: var(--white);
}
.conA img{
    width: 50px;
}
.conA h2{
    font-size:12px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}
.conA h1{
    
    letter-spacing: 5px;
    font-size: 20px;
}
.conAPage{
    padding-top: 3px;
    font-family: "HiraMinProN-W3";
}
.conAPage img{
    width: 50px;
    margin: 5px;
}
.conAPage h2{
    font-size:12px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}
.conAPage h1{
    
    letter-spacing: 5px;
    font-size: 25px;
}

/* アーティクル(ブログリボン)定義部s*/

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
.sidebar{
    margin:5px 10px 0 10px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: solid 1px var(--main-color);
}
.sidebar h1{
    font-size: 15px;
    margin: 10px 0 10px 0;
}
.sidebar .icon{
    margin:0 5px 0 5px;
    display: inline;
    
    
}
.sidebar .icon img{
    border: ridge 1px;
    border-left: ridge 7px;
    border-color:var(--main-color);
    border-top-left-radius: 10px;
    width: 50px;
    padding: 7px 7px 7px 7px;
}

.main{
    width:95%;
    margin:0 10px 0 10px;
    
}

.main h1{
    text-align: center;
    font-size: 15px;
    margin:30px 0 0 10px
}
.main .con{
    margin-top: 10px;
    margin-bottom: 30px;
}
.main .con .lefter{
    margin-left: 50px;
}
.main .con .righter{
    margin-right: 50px;
}
.main a{
    position: relative;
    flex: 1;
    margin:10px;
    display: flex;
    border: ridge 1px;
    border-left-width: 15px;
    border-top-left-radius: 15px;
    border-color:var(--main-color);
    background-color: var(--white);
    color: var(--dark-main-color);
    text-decoration: none;
}
.main a:hover{
    color: var(--white);
    border-color: var(--dark-main-color);
}
.main article .icon img{
    height:70px;
    padding: 5px 10px 0 10px;
    flex:1;
    opacity: 0.8;
}
.main article .photo{
    flex:2;
    height: 80px;
    background-color: var(--dark-main-color);
    background-position: center;
    background-size:cover;
    opacity: 0.2;
    transition: opacity 0.2s ease-out;
}
.main article .photo:hover{
    opacity:1;
}

.main article .text{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 0;
}
.main h2{
    margin:0 10px 0 0;
    font-size: 12px;
}
.main p{
    margin:0 10px 7px 0;
    font-size: 8px;
}
.sidebar h2{
    font-size: 15px;
}
.sidebar li{
    font-size: 15px;
    margin:5px 0 5px 0
}
footer{
    color:var(--white);
}
.document{
    margin:0 5% 5% 5%;
    display: block;
    background-color: #f0f0f0;
    border: ridge 1px var(--main-color);
    padding:0 5% 0 5%;
}
.document h1{
    text-align: center;
    font-size: 1rem;
    padding-bottom: 5%;
}
.document h6{
    padding-top: 10%;
    text-align: center;
    font-size: 0.5rem;
}
.document.title{
    text-align: center;
}
.document .titleimg img{
    width: 80%;
    margin:0 0 0 10%;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}
#tip{
    margin:0;
    width:50px;
}
.document h2{
    margin: 30px 0 0 10px;
    font-size:0.9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
    border-bottom: solid 1px var(--dark-main-color);
    margin-bottom:10px;
}
.document h3{
    font-size: 0.6rem;
    line-height: 1.2rem;
    margin: 0 0 10px 20px;
}
.document img{
    margin-left: 10%;
    width: 300px;
}
.mini{
    margin-left:5%;
}
.mini h4{
    padding-bottom: 5px;
    border-bottom: solid 1px var(--dark-main-color);
    color: var(--main-color);
    font-size:1rem;
}
.mini h5{
    margin-left:10px;
    margin-bottom: 5px;
    line-height: 1.2rem;
    font-family: Helvetica, Arial, serif;
    font-size: 0.6rem;
}

/* =================*/
.toTop{
    margin-top:30px;
    padding-top:30px;
    text-align: center;
}
.toTop a{
    display:block;
    padding:8px 20px;
}
.toTop img{
    width: 50px;
}
.toTop img{
    width: 50px;
}
footer{
    background:var(--dark-main-color);
}
.effect-fade {
    opacity : 0;
    transform : translate(0, 45px);
    transition : all 1.5s;
}
    
.effect-fade.effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
}

@media (min-width: 768px){
    html{
        font-size:25px;
    }
    .document{
        width:50%;
    }
    .document img{
        width: 400px;
    }
    .sidebar{
        width: 10%;
        margin:20px 5% 0 10px;
        float: right;
    }
    .main{
        width:80%;
        float:left;
    }
   
    .main article .icon img{
        height:100px;
    }
    .main article .photo{
        height: 110px;
    }
    .main .con .lefter{
        margin-left: 75px;
    }
    .main .con .righter{
        margin-right: 75px;
    }
    .main h2{
        font-size:18px;
    }
    .main p{
        font-size:12px;
    }
    
}
