@charset    "UTF-8";

:root{
    --main-color: #b40000;
    --white: #FEFEFE;
    --accent-color: #FBC02D;
    --dark-main-color: #000000;
    --gray-color: #b0b0b0;

    --large-width: 1200px;
}
h1,h2,h3,h4,h5,h6,p,a,img,ul{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 120%;
}
body{
    font-family: Helvetica, Arial, serif;
    color: var(--white);
    margin: 0;
    background-color: var(--dark-main-color);
    background-position: center;
    background-size: cover;
}

/*==========================*/
.red{
    color:var(--main-color);
}
.secA {
    margin: 0;
    display: block;
    height: 30vw;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.bg1{
    background-image: url(../img/portfolio/header_image/paint.png);
}
.bg2{
    background-image: url(../img/portfolio/header_image/research.png);
}
.bg3{
    background-image: url(../img/portfolio/header_image/dumbel.png);
}
.conA{
    padding-top: 8%;
    
}
.conA h1{
    padding-bottom: 8px;
    font-size: 25px;
}
.conA p{
    font-size:10px;
}
.secC h2{
    margin: 15px 0 15px 15px;
    font-size: 10px;
    color: var(--accent-color);
}
.secB h1{
    margin: 20px 0 10px 10px;
    font-size: 25px;
    color: var(--gray-color);
}
.secB h2{
    margin: 5px 0 5px 5px;
    font-size: 5px;
    border-bottom: solid 1px currentColor;
}
.tabs{
    margin:0 3% 0 3%;
    padding: 0 0 5% 0;
    border-bottom: solid 1px currentColor;
}
.listA .con{
    display: flex;
    flex-wrap: wrap;
    max-width: var(--large-width);
    margin: 0 30px 30px 30px auto;
}
.listA article{
    flex: 1 1 300px;
    margin: 5px;
    display: flex;
}
.listA a{
    position: relative;
    flex: 1;
    padding: 5px;
    display: block;
    border: solid 1px var(--dark-main-color);
    background-color: var(--dark-main-color);
    color:inherit;
    text-decoration: none;  
}
.listA .photo{
    min-height:200px;
    background-position: right;
    background-size:cover;
    opacity: 0.4;
    transition: opacity 0.2s ease-out
}
.listA .photo:hover:active{
    opacity:1;
}
.listA h2{
    position: absolute;
    bottom: 7px;
    right: 10px;
    text-align: right;
    padding-top: 3px;
    font-size: 12px;
}

.toTop{
    margin-top:30px;
    text-align: center;
}
.toTop a{
    display:block;
    margin-bottom:40px;
    padding:8px 20px;
}
.toTop img{
    width: 50px;
}
footer{
    background: var(--main-color);
}
.effect-fade {
    opacity : 0;
    transform : translate(0, 45px);
    transition : all 1.5s;
}
    
.effect-fade.effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
}
@media (max-width:959px){
    .listA article{
        flex: 1 1 210px;
    }
    .listA .photo{
        min-height:140px;
    }
}
@media (max-width:767px){
    .listA article{
        flex: 1 1 150px;
    }
    .listA .photo{
        min-height:100px;
    }

}
@media (min-width: 768px){
    
    .secA{
        height: 15vw;
        max-height: 800px;
    }
    .conA{
        padding-top: 4%;
    }
    
}
